:root {
    box-sizing: border-box;
    --white-0: rgb(255, 255, 255);
    --white-1: rgb(225, 225, 225);
}

.pokedex {
    background-color: var(--white-1);
    margin: 0 auto;
    max-width: 100vw;
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    overflow: hidden;
}

.pokecard {
    background-color: var(--white-0);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 20px;
    border-radius: 5px;
}

.pokecard__img {
    box-sizing: border-box;
    display: block;
    background-color: var(--white-1);
    width: 90%;
    margin: 5% 10%;
}

h3 {
    margin: 0;
}
